<section class="p-5 px-lg-1">
   <div class="container">
      <div class="row text-center g-4">
         <div class="col-md">
            <div class="card bg-success bg-gradient text-light shadow border-3">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-people-fill"></i>
                  </div>
                  <h3 class="card-title fs-4  mb-3">
                     All Staff
                  </h3>
                  <p class="card-text">
                     Total number of staff is <span class="fw-bold">{{ users.length }}</span>
                  </p>
                  <a (click)="filterAll()" href="#list" class="btn btn-dark">See List</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card bg-danger bg-gradient text-light shadow border-3">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-check-fill"></i>
                  </div>
                  <h3 class="card-title fs-4  mb-3">
                     Active Staff
                  </h3>
                  <p class="card-text">
                     <span class="fw-bold">{{ activeUsers.length }} </span> out of
                     <span class="fw-bold">{{ users.length }} </span> staff are present today.
                  </p>
                  <a (click)="filterActive()" class="btn btn-dark">See list</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card bg-secondary bg-gradient text-light shadow border-3">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-dash-fill"></i>
                  </div>
                  <h3 class="card-title fs-4  mb-3">
                     Inactive Staff
                  </h3>
                  <p class="card-text">
                     <span class="fw-bold">{{ inActiveUsers.length }} </span> out of
                     <span class="fw-bold"> {{ users.length }}</span> staff are not present today.
                  </p>
                  <a (click)="filterInActive()" class="btn btn-dark">See list</a>
               </div>
            </div>
         </div>
      </div>

      <hr>

      <div>
         <div class="container">
            <div class="row g-4">
               <div class="col-md">
                  <!-- Place holder -->
                  <div *ngIf="myToggle">
                     <p class="text-center fs-4 p-5 opacity-75 font-monospace">Welcome to Management PRO!</p>
                     <p class="text-center fs-4 p-5 opacity-75 font-monospace">Click <b>See List</b>, to display a list here</p>
                  </div>

                  <div *ngFor="let user of filteredUsers" id="list">
                     <button type="button" (click)="onSelect(user)"
                        class="btn btn-dark py-2 mb-2 fs-4 d-block w-100 text-start">
                        {{ user.firstName }} {{ user.lastName }}
                        <span *ngIf="user.isActive" class="active-badge float-end align-center"></span>
                     </button>
                  </div>
               </div>

               <div *ngIf="selectedUser" class="col-md">
                  <div class="col-md">
                     <h2 class="text-center mb-4">{{ selectedUser.firstName }}'s Info</h2>
                     <ul class="list-group list-group-flush lead">
                        <li class="list-group-item">
                           <span class="fw-bold">First Name:</span> {{ selectedUser.firstName }}.
                        </li>
                        <li class="list-group-item">
                           <span class="fw-bold">Last Name:</span> {{ selectedUser.lastName }}.
                        </li>
                        <li class="list-group-item">
                           <span class="fw-bold">Department:</span> {{ selectedUser.department }}
                        </li>
                        <li class="list-group-item">
                           <span class="fw-bold">Age:</span> {{ selectedUser.age }}
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>