section {
   margin: 0 auto;
   width: 80vw;
   padding: 20px;
   margin-top: 3%;
} 

.active-badge {
   background-color: green;
   border-radius: 50%;
   height: 10px;
   width: 10px;
   display: inline-block;
}