header {
   margin: 0 auto;
   width: 100%;
   margin-top: 0;
   box-shadow: 0 0 30px -10px black;
}

.activebutton {
   padding: 7px;
   border-radius: 8px;
   background-color: rgb(158, 158, 158);
   background: grey;
}

a {
   transition: .2s;
   border-radius: 5px;
   &:hover {
      transform: scale(1.1, 1.1);
      background-color: rgb(158, 158, 158);
      color: black;
      box-shadow: 0 0 5px -2px black;
   }
}