<header>
   <nav class="navbar navbar-expand-md bg-dark navbar-dark py-3">
      <div class="container">
         <h1 class="fs-2 fw-bold align-middle my-1 text-light">Manager PRO</h1>

         <button class="navbar-toggler align-middle" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon">..</span>
         </button>

         <div class="collapse navbar-collapse align-middle" id="navmenu">
            <ul class="navbar-nav ms-auto fs-5">
               <li class="nav-item">
                  <a routerLink="dashboard" routerLinkActive="activebutton"
                     class="nav-link text-light fw-normal mx-4">Dashboard</a>
               </li>
               <li class="nav-item">
                  <a routerLink="departments" routerLinkActive="activebutton"
                     class="nav-link text-light fw-normal mx-4">Departments</a>
               </li>
               <li class="nav-item">
                  <a routerLink="/login-page" routerLinkActive="activebutton"
                     class="nav-link text-light fw-normal mx-4">Edit</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>