<section class="p-5">
   <div class="container">
      <div class="row text-center g-4">
         <div class="col-md">
            <div class="card bg-secondary bg-gradient text-light shadow border-3">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-people-fill"></i>
                  </div>
                  <h3 class="card-title fs-4  mb-3">
                     All Staff
                  </h3>
                  <p class="card-text">
                     Total number of staff is <span class="fw-bold"></span>
                  </p>
                  <a class="btn btn-dark">See List</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card bg-secondary bg-gradient text-light shadow border-3">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-check-fill"></i>
                  </div>
                  <h3 class="card-title fs-4  mb-3">
                     Active Staff
                  </h3>
                  <p class="card-text">
                     <span class="fw-bold"></span> out of
                     <span class="fw-bold"></span> staff are present today.
                  </p>
                  <a class="btn btn-dark">See list</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card bg-secondary bg-gradient text-light shadow border-3">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-dash-fill"></i>
                  </div>
                  <h3 class="card-title fs-4  mb-3">
                     Inactive Staff
                  </h3>
                  <p class="card-text">
                     <span class="fw-bold"></span> out of
                     <span class="fw-bold"></span> staff are not present today.
                  </p>
                  <a class="btn btn-dark">See list</a>
               </div>
            </div>
         </div>
      </div>

      <hr>

   
   </div>
</section>